@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    font-family: 'Source Code Pro', monospace;
    background-color: #1f1f1f;
}

/*language style*/
.eng {
    display: none;
}
.ptbr {
    display: block;
}
/*language style end*/

a {
    color: #586ff0;
    font-size: 0.8em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*LANGUAGE TOGGLE BTN*/
.btn-toggle-lang-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-lang-outter {
    position: relative;
    background-color: #494949;
    width: 50px;
    height: 25px;
    margin: 10px;
    padding: 2px;
}

.btn-lang-inner {
    position: absolute;
    background-color: #1f1f1f;
    width: 50%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1000ms;
}
    /*toggle animation*/
.btn-lang-toggle-animation {
    left: 25px;
}
/*LANGUAGE TOGGLE BTN END*/

.imagem {
    width: 450px;
}

#image-container {
    
}

#btn-next {
    margin-top: 1em;
}

.btn {
    font-family: 'Source Code Pro', monospace;
    color: #d3d3d3;
    background-color: #1f1f1f;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #424242;
}


/**/

.about-dialog {
    background-color: #363636;
    color: #d3d3d3;
    border: none;
    padding: 10px;
    max-width: 600px;
}

.dialog-close-btn-container {
    position: absolute;
    right: 10px;
    
}

.dialog-close-btn-container button {
    padding: 0.5em;
    border: none;
}


